{% extends "base.html" %} {% block content %}
<div class="container-fluid">
    <div class="row">
        <h1>Welcome to this collection of Stoic thoughts</h1>
    </div>

    <div class="row">
        <h1>The gods have chosen a thought especially for you...</h1>
    </div>

    <div class="row" id="card-row">
        <div class="flip-card">
            <div class="flip-card-inner">
                <div class="flip-card-front">
                    <img src="https://mdbootstrap.com/img/Photos/Others/photo7.jpg" alt="Avatar" style="width:300px;height:300px;">
                    <p>{{thought.metaphor}}</p>

                </div>
                <div class="flip-card-back">
                    <img src="https://mdbootstrap.com/img/Photos/Others/photo5.jpg" alt="Avatar" style="width:300px;height:300px;">
                    <p>{{thought.quotation}}</p>
                    <p>{{thought.comment}}</p>

                </div>
            </div>
        </div>


    </div>

</div>
{% endblock %}