{% extends "base.html" %} {% block content %}
<div class="container-fluid">
    <div class="row">
        <h1>Manage your thoughts</h1>
    </div>

    <div class="row">
        <table class="table table-bordered table-dark table-striped table-hover table-responsive">
            <thead>
                <th>ID</th>
                <th>Quotation</th>
                <th>Metaphor</th>
                <th>Comment</th>
                <th>Edit</th>
                <th>Delete</th>
            </thead>
            <tbody>
                {% for thought in thoughts %}
                <tr>
                    <td>{{ thought.id }}</td>
                    <td>{{ thought.quotation }}</td>
                    <td>{{ thought.metaphor }}</td>
                    <td>{{ thought.comment }}</td>
                    <td>
                        <form method="POST" action="/thoughts_controller/{{thought.id}}/edit">
                            <input type="hidden" value="{{thought.id}}" name="thought_id">
                            <input type="text" value="{{thought.quotation}}" name="new_quotation" size="55">
                            <input type="text" value="{{thought.metaphor}}" name="new_metaphor" size="55"><input type="text" value="{{thought.comment}}" name="new_comment" size="55">

                            <div class="modal-footer">
                                <button type="submit" class="btn btn-primary" value="Edit">Submit changes</button>
                        </form>
                    </td>

                    <td>
                        <form action="{{url_for('delete', thought_id=thought.id)}}" method="POST">

                            <button type="submit" class="btn btn-primary" value="Delete">Delete
                            </button>
                        </form>
                    </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
        </div>

        <div class="row">
            <h1>Add a thought</h1>
            <form action="/thoughts_controller" method="POST" class="add-form">
                <label for="quotation">Quotation</label>
                <input type="text" name="quotation" id="quotation" required />
                <label for="metaphor">Metaphor</label>
                <input type="text" name="metaphor" id="metaphor" required />
                <label for="comment">Comment</label>
                <input type="text" name="comment" id="comment" required /><br>
                <button type="submit" class="btn btn-primary" value="Add">Add</button>
            </form>
        </div>

    </div>
    {% endblock %}