{% extends "base.html" %} {% block content %}
<div class="container-fluid">
    <div class="row">
        <div class="col-sm-6">
            <h1>Manage your thoughts</h1>
        </div>

        <div class="col-sm-3">
            <button type="button" class="btn btn-link" data-toggle="modal" data-target="#myAddModal">Add a Thought
            </button>
            <div class="modal fade" id="myAddModal" tabindex="-1" role="dialog" aria-labelledby="myAddModalLabel" aria-hidden="true">
                <div class="modal-dialog" role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title" id="myAddModalLabel">
                                Add
                            </h5>
                        </div>
                        <div class="modal-body">
                            <form action="/thoughts_controller" method="POST" class="add-form">
                                <div class="form-group">
                                    <label for="quotation">Quotation</label>
                                    <textarea class="form-control" name="quotation" id="quotation" rows=3 placeholder="Add a quotation" required></textarea>
                                    <label for="metaphor">Metaphor</label>
                                    <textarea class="form-control" name="metaphor" id="metaphor" rows=3 placeholder="Add a metaphor" required></textarea>
                                    <label for="comment">Comment</label>
                                    <textarea class="form-control" name="comment" id="comment" rows=3 placeholder="Add a comment" required></textarea>
                                </div>
                                <div class="modal-footer">
                                    <button type="submit" class="btn btn-primary" value="Add">Add</button>
                                </div>
                            </form>
                            <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="row">
        <table class="table table-bordered table-dark table-striped table-hover table-responsive">
            <thead>
                <th>ID</th>
                <th>Quotation</th>
                <th>Metaphor</th>
                <th>Comment</th>
                <th>Edit</th>
                <th>Delete</th>
            </thead>
            <tbody>
                {% for thought in thoughts %}
                <tr>
                    <td>{{ thought.id }}</td>
                    <td>{{ thought.quotation }}</td>
                    <td>{{ thought.metaphor }}</td>
                    <td>{{ thought.comment }}</td>
                    <td>
                        <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#myEditModal{{thought.id}}">Edit
                        </button>
                        <div class="modal fade" id="myEditModal{{thought.id}}" tabindex="-1" role="dialog" aria-labelledby="myEditModalLabel{{thought.id}}" aria-hidden="true">
                            <div class="modal-dialog" role="document">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <h5 class="modal-title" id="myEditModalLabel{{thought.id}}">
                                            Edit
                                        </h5>
                                    </div>
                                    <div class="modal-body">
                                        <form method="POST" action="/thoughts_controller/{{thought.id}}/edit">
                                            <div class="form-group">
                                                <input class="form-control" type="hidden" value="{{thought.id}}" name="thought_id">
                                                <label for="quotation">Quotation</label>
                                                <textarea class="form-control" value="{{thought.quotation}}" name="new_quotation" rows="4">{{thought.quotation}}</textarea>
                                                <label for="quotation">Metaphor</label>
                                                <textarea class="form-control" value="{{thought.metaphor}}" name="new_metaphor" rows="4">{{thought.metaphor}}</textarea>
                                                <label for="quotation">Comment</label>
                                                <textarea class="form-control" value="{{thought.comment}}" name="new_comment" rows="4">{{thought.comment}}</textarea>
                                            </div>
                                            <div class="modal-footer">
                                                <button type="submit" class="btn btn-primary" value="Edit ">Submit
                                                    changes</button>
                                            </div>
                                        </form>
                                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </td>
                    <td>
                        <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#myDeleteModal{{thought.id}}">Delete
                                </button>
                        <div class="modal fade" id="myDeleteModal{{thought.id}}" tabindex="-1" role="dialog" aria-labelledby="myDeleteModalLabel{{thought.id}}" aria-hidden="true">
                            <div class="modal-dialog" role="document">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <h5 class="modal-title" id="myDeleteModalLabel{{thought.id}}">
                                            Delete
                                        </h5>
                                    </div>
                                    <div class="modal-body">
                                        <h5>Are you sure?</h5>
                                        <div class="modal-footer">
                                            <form action="{{url_for( 'delete', thought_id=thought.id)}}" method="POST">

                                                <button type="submit" class="btn btn-primary" value="Delete">Delete
                                                        </button>
                                            </form>
                                        </div>
                                        <button type="button" class="btn btn-secondary" data-dismiss="modal">No, take me back</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>

</div>
{% endblock %}